# .env.example
# Credenciais do Google Cloud e configurações do dbt

# O caminho absoluto para o arquivo JSON com a chave de serviço do BigQuery (se usar auth via service account)
# GCP_KEYFILE_PATH=/caminho/para/seu/service-account.json

# O ID do projeto no Google Cloud
GCP_PROJECT_ID=seu-projeto-gcp-id

# O dataset principal no BigQuery
GCP_DATASET=ecommerce_dev

# Outras configurações
# DBT_THREADS=4
